
@import 'redsift' 
@import 'brand.import' 

$bg = $brandBlack
$codeBg = #373737 
$textColour = $brandWhite
$linkColour = $textColour
$hoverColour = $brandRed
$visitedColour = $linkColour
$lineColour = $brandWhite

colour-system($textColour, $bg, $linkColour, $hoverColour, $visitedColour, $hoverColour, $codeBg)

$sliderHighlight = $brandRed
$sliderThumb = $brandWhite
$sliderBackground = $brandGrey
create-range($sliderHighlight, $sliderThumb, $sliderBackground);

radial-chart($textColour, $lineColour)