/*
 * redsift-ui helpers:
 */
/* TODO: adapt folder structure! */
@import "./common/reset.import"

/*
 * Common settings and functionality:
 */
@import "./common/fonts.import"
@import "./common/patterns.import"
@import './components/images.import'

/* TODO: variables can be put into component files! */
@import "./common/variables.import"
/* TODO: colors need refactoring! */
@import "./common/colors.import"
/* @import './components/animation.import' */

/*
 * UI components:
 */
@import "./components/typography.import"
@import "./components/content-block.import"

/* @import "/node_modules/redsift-ui/css/components/input.import"
   @import "/node_modules/redsift-ui/css/components/hero.import"
   @import '/node_modules/redsift-ui/css/components/webview.import'
   @import '/node_modules/redsift-ui/css/components/cards.import'
   @import '/node_modules/redsift-ui/css/components/sliders.import'
   @import '/node_modules/redsift-ui/css/components/widgets.import'
   @import '/node_modules/redsift-ui/css/components/gradients.import'
   @import '/node_modules/redsift-ui/css/components/animation.import'
   @import '/node_modules/redsift-ui/css/components/d3.import'
*/
