@import 'common/fonts.import'
@import 'components/webview.import'
@import 'components/type.import'
@import 'components/colour.import'
@import 'components/cards.import'
@import 'components/input.import'
@import 'components/sliders.import'
@import 'components/hero.import'
@import 'components/widgets.import'
@import 'components/gradients.import'

@import 'components/animation.import'

@import 'components/d3.import'


$fontNormal = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$fontHighlight = 'Electrolize', sans-serif
$fontCode = 'Source Code Pro', monospace

responsive-type($fontNormal, $fontHighlight, $fontCode)

create-cards('cards', false)

.hidden {
	opacity: 0;
}

.hash {
    background-image: pattern--core();
}

/*
 * Body reset
 * http://codepen.io/absolutholz/pen/XJJpPX
 */
html {
  height: 100%;
}

body {
  min-height: 100%;
}
