/* Heading font */
@import url("https://fonts.googleapis.com/css?family=Electrolize");

/* Code font */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");

@import 'components/type.import' 
@import 'components/colour.import' 
@import 'components/cards.import' 

@import 'components/d3-radial.import' 

$fontNormal = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$fontHighlight = 'Electrolize', sans-serif
$fontCode = 'Source Code Pro', monospace

responsive-type($fontNormal, $fontHighlight, $fontCode)

create-cards('cards', false)

.hidden {
	opacity: 0;
}

.animate-opacity {
	transition: opacity 1.5s linear;
}