/*
 * Style setup uses as base for Sift themes.
 *
 * Provides:
 *   - ready-to-use UI components
 *   - responsive type system
 *   - breakpoint setup (via 'rupture')
 *   - common functionality like reset, patterns and fonts
 *
 * Used by:
 *   - redsift-light
 *   - redsift-dark
 */

/*
 * Common functionality:
 */
@import './common/reset.import'
@import './common/fonts.import'
@import './common/patterns.import'
@import './common/breakpoints.import'
@import './common/selection.import'
@import './common/base.import'
@import './common/types.import'

setup-types()
disable-selection() // FIXXME: only disable on mobile?

/*
 * UI components:
 *
 * Each UI component is encapsulated within a setup function which takes an
 * opitional settings hash. If omitted the default settings available in the
 * respective component file are used. This allows a (theme) developer to
 * customize components for their own sifts and projects.
 */
@import './components/hero.import'
@import './components/inputs.import'
@import './components/sliders.import'
@import './components/widgets.import'
@import './components/colour.import'
@import './components/style-switcher.import'

setup-hero()
setup-inputs()
setup-sliders()
setup-widget__down-arrow()
setup-style-switcher()

/* TODO: We are currently refactoring the components to provide a clear distinction
 *       between UI widgets and other functionality. The following list is still
 *       a mix of both. Bear with us...
 */
@import './components/cards.import'
@import './components/gradients.import'
@import './components/animation.import'
@import './components/d3.import'

create-cards('cards', false)
