
@import 'redsift'
@import 'brand.import'

$bg = $brandBlack
$codeBg = #373737
$textColour = $brandWhite
$linkColour = $textColour
$hoverColour = $brandRed
$visitedColour = $linkColour
$lineColour = $brandWhite

colour-system($textColour, $bg, $linkColour, $hoverColour, $visitedColour, $hoverColour, $codeBg)

radial-chart($textColour, $lineColour)
