
@import 'redsift' 

$bg = white
$codeBg = #f7f7f7
$textColour = #3e3e3e
$linkColour = $textColour
$hoverColour = #ed1651
$visitedColour = $linkColour

colour-system($textColour, $bg, $linkColour, $hoverColour, $visitedColour, $hoverColour, $codeBg)