
@import 'redsift' 

$bg = #3e3e3e
$codeBg = #373737 
$textColour = white
$linkColour = $textColour
$hoverColour = #ed1651
$visitedColour = $linkColour
$lineColour = white

colour-system($textColour, $bg, $linkColour, $hoverColour, $visitedColour, $hoverColour, $codeBg)

radial-chart($textColour, $lineColour)