
@import 'redsift' 
@import 'brand.import' 


$bg = $brandWhite
$codeBg = #f7f7f7
$textColour = $brandBlack
$linkColour = $textColour
$hoverColour = $brandRed
$visitedColour = $linkColour
$lineColour = #666

colour-system($textColour, $bg, $linkColour, $hoverColour, $visitedColour, $hoverColour, $codeBg)


$sliderHighlight = $brandRed
$sliderThumb = $brandWhite
$sliderBackground = $brandGrey
create-range($sliderHighlight, $sliderThumb, $sliderBackground);

radial-chart($textColour, $lineColour)
 