
@import 'redsift'
@import 'brand.import'


$bg = $brandWhite
$codeBg = #f7f7f7
$textColour = $brandBlack
$linkColour = $textColour
$hoverColour = $brandRed
$visitedColour = $linkColour
$lineColour = #666

colour-system($textColour, $bg, $linkColour, $hoverColour, $visitedColour, $hoverColour, $codeBg)

radial-chart($textColour, $lineColour)
