@import '../../node_modules/@redsift/ui-rs-hero/src/index.import';
@import '../../node_modules/@redsift/ui-rs-radial-chart/src/index.import';

$heroSettings = {
	padding: 1em,
	height: 500px,
	content: {
		borderWidth: 1px,
		borderColor: $brandGrey
	}
}
setup-hero($heroSettings);

setup-radial-chart();
