@import '../../components/hero/index.import';
@import '../../components/radial-chart/index.import';

$heroSettings = {
	padding: 1em,
	height: 500px,
	content: {
		borderWidth: 1px,
		borderColor: $brandGrey
	}
}
setup-hero($heroSettings);

setup-radial-chart();
