/*
 * Breakpoint settings (using Webflow's default values with rupture)
 */

@import '../lib/rupture.import'

rupture.scale = 0 240px 480px 768px 992px 1020px
rupture.scale-names = 'fluid' 'mobile-portrait' 'mobile-landscape' 'tablet' 'desktop' 'hd'
