colour-system($textColour, $bodyColour, $linkColour, $hoverColour, $visitedColour, $selectionColour, $codeBg) {

	body {
		color: $textColour;
		background: $bodyColour;
	}

	::selection {
		background: $selectionColour;
		color: white;
		fill: white;
	}

	a {
  		color: $linkColour;
	}

	a:active,
	a:hover {
		color: $hoverColour;
	}

	a:visited {
		color: $visitedColour;
	}

	a:focus {
		outline: none;
		color: $hoverColour;
	}

	p code {
		background-color: $codeBg;
	}

	pre {
		background-color: $codeBg;
	}

	.content {
		background-color: $codeBg;
	}

	.content .container {
		background-color: $bodyColour;
	}

    .informational {
        color: #bbb;
    }
}

/* Images so assume white text is required */
.hero {
	h1, h2, h3, h4, h5, p, code {
		color: white;
	}
}
