$fontNormal = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$fontHighlight = 'Electrolize', sans-serif
$fontCode = 'Source Code Pro', monospace

// TODO: should this go into base.styl or is it more useful to collect all typography related stuff in here?
body {
  font-size: 100%;
  color: #333;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

.-font-normal {
  font-family: $fontNormal;
  font-weight: 300;
}

responsive-type($fontNormal, $fontHighlight, $fontCode,
        $bp-medium,
				0.8125em, 1em, 1.5em, 2.025em,
				2.625em, 4.25em, 6.875em)

h1, h2, h3, h4, h5 {
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.125em;
}
