//
// general:
//
$padding = 16px
$hero = 500px

//
// breakpoints:
//
// $bp-mobile-portrait = 480px
// $bp-mobile-landscape = 768px
// $bp-tablet = 992px
// $bp-desktop = 1200px

$bp-small = 768px
$bp-medium = 992px
$bp-large = 1200px
$bp-xlarge = 1600px

//
// content related:
//
$content-max-width = 460px
$content-max-width-small = 620px
$content-max-width-medium = 800px
$content-max-width-large = 1200px

// mobile-portrait: 240px - 479px
// mobile-landscape: 480px - 767px
// tablet: 768px - 991px
// desktop: 992px up
