//
// general:
//
$padding = 16px
$hero = 500px

//
// breakpoints:
//
$bp-tiny = 520px
$bp-small = 768px
$bp-medium = 992px
$bp-large = 1200px
$bp-xlarge = 1600px

//
// content related:
//
$content-max-width = 460px
$content-max-width-small = 620px
$content-max-width-medium = 800px
$content-max-width-large = 1200px
