/*
 * Style setup for redsift-ui based sifts.
 *
 * - Provides:
 *   . ready-to-use UI components
 *   . responsive type system
 *   . breakpoint setup (via 'rupture')
 *   . common functionality like reset, patterns and fonts
 *
 * - Used by:
 *   . redsift-light
 *   . redsift-dark
 *
 * - Folder structure:
 *
 *   ./lib        -> mixin and function library
 *   ./common     -> CSS setup and common classes
 *   ./components -> UI components
 */

/*
 * Mixin/functions library
 *
 * Common mixins and functions used by redsift-ui.
 */
@import './lib/cards.import'
@import './lib/gradients.import'

/*
 * Base configuration and common classes:
 *
 * CSS base setup and common CSS classes.
 */
@import './common/reset.import'
@import './common/fonts.import'
@import './common/patterns.import'
@import './common/breakpoints.import'
@import './common/selection.import'
@import './common/animation.import'
@import './common/base.import'
@import './common/types.import'

setup-types()
disable-selection() // FIXXME: only disable on mobile?
create-cards('cards', false)

/*
 * UI components:
 *
 * Each UI component is encapsulated within a setup function which takes an
 * opitional settings hash. If omitted the default settings available in the
 * respective component file are used. This allows a (theme) developer to
 * customize components for their own sifts and projects.
 */
@import './components/hero.import'
@import './components/inputs.import'
@import './components/sliders.import'
@import './components/widgets.import'
@import './components/colour.import'
@import './components/style-switcher.import'
@import './components/d3.import'

setup-hero()
setup-inputs()
setup-sliders()
setup-widget__down-arrow()
setup-style-switcher()
