/*
 * mixins for setting up types
 */

define-type(name, settings)
	{name}
		{block}

jsonToCss(json)
	for key, value in json
		{key}: value

setup-types(types)
	for type, settings in types
		+define-type(type, settings) {
			jsonToCss(settings)
		}
