@import './src/styles/index.import'

// NOTE: call the following configuration function in your bundle to create the
//       styles for your theme:

// $heroSettings = {
// 	padding: 1em,
// 	height: 500px,
// 	content: {
// 		borderWidth: 1px,
// 		borderColor: $brandGrey
// 	}
// }
// setup-hero($heroSettings);
