@import '../../node_modules/@redsift/ui-rs-core/src/index.import';
@import '../../node_modules/@redsift/ui-rs-core/src/styles/brand.import';

$textColour = $brandBlack;
$lineColour = #666;

$coloursLight = {
  text: $textColour,
  bgBody: $brandWhite,
  link: $brandBlack,
  hover: $brandRed,
  visited: $brandBlack,
  selection: $brandRed,
  bgCode: #f7f7f7,
  colourHero: white
}
setup-colour-system($coloursLight)
