@import '../../node_modules/@redsift/ui-rs-core/src/index.import';
@import '../../node_modules/@redsift/ui-rs-core/src/styles/brand.import';

$textColour = $brandWhite;
$lineColour = $brandWhite;

$coloursLight = {
  text: $brandWhite,
  bgBody: $brandBlack,
  link: $brandWhite,
  hover: $brandRed,
  visited: $brandWhite,
  selection: $brandRed,
  bgCode: #373737,
  colourHero: white
}
setup-colour-system($coloursLight)
