@import '../../components/core/index.import';
@import '../../components/core/src/styles/brand.import';
@import '../../components/hero/index.import';

$textColour = $brandBlack;
$lineColour = #666;

$coloursLight = {
  text: $textColour,
  bgBody: $brandWhite,
  link: $brandBlack,
  hover: $brandRed,
  visited: $brandBlack,
  selection: $brandRed,
  bgCode: #f7f7f7,
  colourHero: white
}
setup-colour-system($coloursLight)

$heroSettings = {
	padding: 1em,
	height: 500px,
	content: {
		borderWidth: 1px,
		borderColor: $brandGrey
	}
}
setup-hero($heroSettings);
