/* For Javascript change the curves in d3/tools.js */
$curveRedsift = cubic-bezier(0.175, 0.885, 0.335, 1.155)
$timeRedsift = 400ms

.animate-opacity {
	transition: opacity $curveRedsift ($timeRedsift*2);
}
