
colour-system($textColour, $bodyColour, $linkColour, $hoverColour, $visitedColour, $selectionColour, $codeBg) {

	body {
		color: $textColour;
		background: $bodyColour; 
	}
	
	::selection {
		background: $selectionColour; 
		color: white;
		fill: white;
	}
	
	a {
  		color: $linkColour;
	}
	
	a:active,
	a:hover {
		color: $hoverColour;
	}
	
	a:visited {
		color: $visitedColour;
	}
	
	a:focus {
		outline: none;
		color: $hoverColour;
	}
	
	p code {
		background-color: $codeBg;
	}	

	pre {
		background-color: $codeBg;
	}
	
}
