@import "../common/patterns.import"
// @import "../common/breakpoints.import"

$content__space-top-mobile-portrait = 3.125em;
$content__space-top-mobile-landscape = 3.5em;
$content__space-top-tablet = 5.25em;
$content__space-top-desktop = 7.875em;

$content__space-bottom-mobile-portrait = 3.125em;
$content__space-bottom-mobile-landscape = 3.5em;
$content__space-bottom-tablet = 5.25em;
$content__space-bottom-desktop = 7.875em;

$content__space-top-mobile-portrait--feature = 3.125em;
$content__space-top-mobile-landscape--feature = 2.625rem;
$content__space-top-tablet--feature = 2.625rem;
$content__space-top-desktop--feature = 2.625rem;

$content__space-bottom-mobile-portrait--feature = 3.125em;
$content__space-bottom-mobile-landscape--feature = 4.375rem;
$content__space-bottom-tablet--feature = 4.375rem;
$content__space-bottom-desktop--feature = 4.375rem;

$content__space-top-mobile-portrait--highlight = 4em;
$content__space-top-mobile-landscape--highlight = 3.5rem;
$content__space-top-hd--highlight = 7rem;

$content__space-bottom-mobile-portrait--highlight = 11.825em;
$content__space-bottom-mobile-landscape--highlight = 19rem;
$content__space-bottom-hd--highlight = 21rem;

$content__space-side = 1.75em;
$content__space-side-tablet = 1.75em;

$content__border-multiplier = 13;
$content__border-multiplier-tablet = 3;

$content__max-width = 992px;

.redsift-content-padding {
  height: 0.24em;
}

.redsift-content,
.redsift-content--feature {
  display: flex;
  justify-content: center;
}

.redsift-content--feature {
  margin: 0;
  padding-right: (2 * $patterns__down-arrow-green-width);
  padding-bottom: ($content__border-multiplier * $patterns__down-arrow-green-height);
}

.redsift-content__container,
.redsift-content__container--feature,
.redsift-content__container--highlight {
  padding-left: $content__space-side;
  padding-right: $content__space-side;
  width: 100%;
  height: 100%;
}

.redsift-content--highlight {
  padding-top: $content__space-top-mobile-portrait--highlight;
  padding-bottom: $content__space-bottom-mobile-portrait--highlight;
  width: 100%;
}

.redsift-content__container {
  padding-top: $content__space-top-mobile-portrait;
  padding-bottom: $content__space-bottom-mobile-portrait;
}

.redsift-content__container--feature {
  padding-top: $content__space-top-mobile-portrait--feature;
  padding-bottom: $content__space-bottom-mobile-portrait--feature;

  background: white;
}

.redsift-content__container--highlight {
  padding-top: $content__space-top-mobile-portrait--highlight;
  padding-bottom: $content__space-bottom-mobile-portrait--highlight;
  width: 100%;
}

.redsift-content__bar--green,
.redsift-content__bar--white {
  display: block;
  width: 5.75em;
  height: 1px;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.redsift-content__bar--green {
  border-top: 1px solid #07af2d;
}

.redsift-content__bar--white {
  border-top: 1px solid #fff;
}

.redsift-content__description {
  font-size: 1rem;
  line-height: 1.5em;
  text-align: center;
}

.redsift-content-separator--green {
  width: 100%;
  height: ($content__border-multiplier * $patterns__down-arrow-green-height);

  background-image: url("/icons/down-arrow-green.svg");
  background-repeat: repeat;
  background-size: $patterns__down-arrow-green-width $patterns__down-arrow-green-height;
}

.redsift-content-separator--red {
  width: 100%;
  height: ($content__border-multiplier * $patterns__redsift-logo-height);

  background-image: url("/icons/redsift-logo-8.1.svg");
  background-repeat: repeat;
  background-size: $patterns__redsift-logo-width $patterns__redsift-logo-height;
}

+above('mobile-landscape') {
  .redsift-content__container {
    padding-top: $content__space-top-mobile-landscape;
    padding-bottom: $content__space-bottom-mobile-landscape;
  }

  .redsift-content__container--feature {
    padding-top: $content__space-top-mobile-landscape--feature;
    padding-bottom: $content__space-bottom-mobile-landscape--feature;
  }

  .redsift-content__container--highlight {
    padding-top: $content__space-top-mobile-landscape--highlight;
    padding-bottom: $content__space-bottom-mobile-landscape--highlight;
  }
}

+above('tablet') {
  .redsift-content--feature {
    margin: 0;
    padding-right: (2 * $patterns__down-arrow-green-width);
    padding-bottom: ($content__border-multiplier-tablet * $patterns__down-arrow-green-height);
  }

  .redsift-content__container {
    padding-top: $content__space-top-tablet;
    padding-bottom: $content__space-bottom-tablet;
  }

  .redsift-content__container--feature {
    padding-top: $content__space-top-tablet--feature;
    padding-bottom: $content__space-bottom-tablet--feature;
  }

  .redsift-content-separator--green {
    height: ($content__border-multiplier-tablet * $patterns__down-arrow-green-height);
  }

  .redsift-content-separator--red {
    height: ($content__border-multiplier-tablet * $patterns__redsift-logo-height);
  }

  .redsift-content__container--feature {
    padding-top: $content__space-top-tablet--feature;
    padding-bottom: $content__space-bottom-tablet--feature;
  }
}

+above('desktop') {
  .redsift-content__container {
    max-width: $content__max-width;
    padding-top: $content__space-top-desktop;
    padding-bottom: $content__space-bottom-desktop;
  }

  .redsift-content__container--feature {
    padding-top: $content__space-top-desktop--feature;
    padding-bottom: $content__space-bottom-desktop--feature;
  }
}

+above('hd') {
  .redsift-content__container--highlight {
    padding-top: $content__space-top-hd--highlight;
    padding-bottom: $content__space-bottom-hd--highlight;
  }
}
