
radial-chart($labelColour = #3e3e3e, $tickColour = black) {
  .d3-rc {
    
    text {
      fill: $labelColour;
      pointer-events: none;
    }
    
    .tooltip {
      font-size: 2em;
    }
    
    .segment-label {
      text-transform: uppercase;
      fill: $labelColour;
    }
     
     .segment-label :not(.hover) {
      transition: font-size $curveRedsift $timeRedsift;
     }
     
     .segment-label .hover {
      font-size: 1.8em;
      transition: font-size $curveRedsift $timeRedsift;
	   }
    
    .outer-line {
      stroke: $tickColour;
      stroke-width: 2.0px;
      fill: none;
    }
    
    circle {
      pointer-events: none;
    }
    
    .segment {
      pointer-events: none;
    }
    
    .segment-bg {
      fill: none;
      pointer-events: visible;
    }
    
    .band-line,
    .tick-line {
      stroke: #999;
      stroke-width: 1.5px;
      stroke-dasharray: 5,2;
      fill: none;
      opacity: 0.0;
      transition: opacity $curveRedsift $timeRedsift;
    }
    
    .spokes {
      stroke: $tickColour;
      stroke-width: 0.5px;
    }
    
    .axis path,
    .axis line {
      fill: none;
      stroke: $tickColour;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
    
    .axis text {
      @extend .overlayed;
      pointer-events: visible;
      cursor: crosshair;
    }
   
    .xb.axis path {
      display: none;
    }
    
    .xb.axis line {
      stroke-width: 2px;
    }
   }

    /* Small classes */
  .d3-small {
    .axis text {
      font-size: 0.8em;
    }
  
    .outer-line {
      stroke-width: 0.5px;
    }
    
    .segment-label :not(.hover) {
      font-size: 0.8em;
    }
    
    .segment-label .hover {
      font-size: 1.0em;
	   }
  }

}