$blue = #50AFFA
$yellow = #FFDF53
$grey = #AB9A94
$grey-dark = #7F736F
$green = #37D192
$white = #F7EEED

$event-font-size = 10px
$font-size = 12px
$knock-back = 0.80

g.schedule {
    .axis text {
    fill: $grey-dark;
    }
    
    .axis path {
    fill: none;
    stroke: $grey;
    stroke-width: 2.5px;
    shape-rendering: crispEdges;
    }

    .axis line {
    fill: none;
    stroke: $grey;
    stroke-width: 1.6px;
    }

    .axis .minor {
    stroke: $grey;
    stroke-width: 0.4px;
    }

    .axis text.minor {
    fill: none;
    stroke: none;
    }

    .event.self {
    .symbol {
        display: initial;
        fill: $white;
        } 
    }

    .event {
    .symbol {
        display: none;
    }
    
    rect {
        fill: $yellow;
        opacity: $knock-back;
    }
    
    text {
        font-size: $event-font-size
        fill: $grey-dark;
    }  
    }

    .tentative {
    rect {
        fill: $yellow;
    } 
    }

    .confirmed {
    rect {
        fill: $green;
    }
    }

    .proposed {
    rect {
        fill: $blue;
        opacity: 1.0;
    }
    text {
        fill: $white;
    }  
    }
}