@import '../brand.import'

setup-hero($customSettings = {}) {

	/*
   * Default settings:
   */
	$defaultSettings = {
		padding: 16px,
		height: 500px,
		content: {
			borderWidth: 1px,
			borderColor: $brandGrey
		}
	}

	$settings = merge($defaultSettings, $customSettings);

  /*
   * Breakpoint setup:
   */
	.hero {
		height: $settings.height;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.hero .floating {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 999;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent;
		padding: 0 $settings.padding $settings.padding $settings.padding;
	}

	/* iPad [portrait + landscape] */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.hero {
	    background-attachment: scroll;
		}

		.hero .floating {
			background-position: 50% 100%;
	      	background-attachment: scroll;
		}
	}

	/* iPhone [portrait + landscape] */
	@media only screen and (max-device-width: 480px) {
		.hero {
			background-attachment: scroll;
		}

		.hero .floating {
			visibility: hidden;
		}

		.hero .floating > * {
			visibility: hidden;
		}
	}

	.hero.darken::before {
		content: " ";
		background-color: black;
		opacity: 0.2;
		width: 100%;
		height: $settings.height;
		position: absolute;
		z-index: 0;
	}

	.hero.lighten::before {
		content: " ";
		background-color: white;
		opacity: 0.2;
		width: 100%;
		height: $settings.height;
		position: absolute;
		z-index: 0;
	}

	.hero > * {
	    text-align: center;
	}

	.hero .container {
		padding: 0 $settings.padding $settings.padding $settings.padding;
		z-index: 1;
		position: relative;
	}

	.hero h1:first-of-type {
		font-size: 1.125em;
		text-align: left;
		text-transform: uppercase;
		opacity: 0.7;
		letter-spacing: initial;
	}

	.hero .container.center-third {
		padding-top: ($settings.height / 3);
	}

	.hero .container.center-fourth {
		padding-top: ($settings.height / 4);
	}

	.hero code {
		font-size: 3em;
	}

	.hero p {
		font-size: 1.5em;
	}

	.content {
		min-height: ($settings.height - 2*$settings.padding);
		padding: $settings.padding;
	}

	.content.collapse {
	  min-height: initial;
	}

	.content .container {
		border: $settings.content.borderWidth solid $settings.content.borderColor;
		border-radius: 3px;
	}

	.content .container.expand {
		min-height: ($settings.height - 2*$settings.padding - 2*$settings.content.borderWidth);
	}
}
