@import 'common.import'
@import '../brand.import'

$border = 1px
$spacing = (2*$border) + (2*$padding)

.hero {
	height: $hero;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero .floating {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	padding: 0 $padding $padding $padding;
}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.hero {
      	background-attachment: scroll;
	}

	.hero .floating {
		background-position: 50% 100%;
      	background-attachment: scroll;
	}
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.hero {
		background-attachment: scroll;
	}

	.hero .floating {
		visibility: hidden;
	}

	.hero .floating > * {
		visibility: hidden;
	}
}

.hero.darken::before {
	content: " ";
	background-color: black;
	opacity: 0.2;
	width: 100%;
	height: $hero;
	position: absolute;
	z-index: 0;
}

.hero.lighten::before {
	content: " ";
	background-color: white;
	opacity: 0.2;
	width: 100%;
	height: $hero;
	position: absolute;
	z-index: 0;
}

.hero > * {
    text-align: center;
}

.hero .container {
	padding: 0 $padding $padding $padding;
	z-index: 1;
	position: relative;
}

.hero h1:first-of-type {
	font-size: 1.125em;
	text-align: left;
	text-transform: uppercase;
	opacity: 0.7;
	letter-spacing: initial;
}

.hero .container.center-third {
	padding-top: ($hero / 3);
}

.hero .container.center-fourth {
	padding-top: ($hero / 4);
}

.hero code {
	font-size: 3em;
}

.hero p {
	font-size: 1.5em;
}

.content {
	min-height: ($hero - 2*$padding);
	padding: $padding;
}

.content.collapse {
  min-height: initial;
}

.content .container {
	border: $border solid $brandGrey;
	border-radius: 3px;
}

.content .container.expand {
	min-height: ($hero - 2*$padding - 2*$border);
}
