/* Make WebP and HDPI selectors for a background image slot */

url-jpg(u)
  url(u + '/img.jpg')

url-webp(u)
  url(u + '/img.webp')
  
url-jpg-hdpi(u)
  url(u + '/img_2x.jpg')

url-webp-hdpi(u)
  url(u + '/img_2x.webp')  
  
multimode-image(colour, baseimage)
    background-color: colour;
    background-image: url-jpg('/images/header'); 
    background-image: -webkit-image-set(
      url-jpg('/images/header') 1x,
      url-jpg-hdpi('/images/header') 2x
    ); 
    @supports (background-image: url-webp('/images/header')) {
      background-image: -webkit-image-set(
        url-webp('/images/header') 1x,
        url-webp-hdpi('/images/header') 2x
      );
    }  