
track($highlight, $bg, $width, $height) {
  width: $width; 
  height: $height;
  border-radius: (@height/2);
  background: linear-gradient($highlight, $highlight) no-repeat $bg;
  background-size: 0% 100%;
}

thumb($bg, $sz = 0.75em) {
  border: none;
  width: $sz; 
  height: $sz;
  border-radius: 50%;
  box-shadow: 0 0 .125em #333;
  background: $bg;
}

create-range($highlight, $thumb, $unfilled, $width = 15em, $height = 1em, $radius = 0.25em, $thumbSize = 1em) {
  input[type='range'] {
    display: block;
    border: solid .5em transparent;
    padding: 0;
    width: $width;
    height: $height*2;
    border-radius: $radius;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    &, 
    &::-webkit-slider-runnable-track, 
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent; 
      border-color: transparent;
      color: transparent;
    }
    &::-webkit-slider-runnable-track {
      track($highlight, $unfilled, $width, $height/2);
    }
    &::-webkit-slider-thumb {
      margin-top: (($height/2 - $thumbSize)/2);
      thumb($thumb, $thumbSize);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 1px $highlight
    }
  }
  
  input[type='range'].progress {
    cursor: initial;
    &::-webkit-slider-thumb {
      display: none;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  input[type='range'].animated {
    &::-webkit-slider-runnable-track {
      transition: background-size 400ms ease-in;
    }
  }  
  
  input[type='range'].intermediate {
    
  }  

}