@import '../lib/type.import'

/*
 * Type settings:
 */
$fontNormal = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$fontHeadings = 'Electrolize', sans-serif
$fontCode = 'Source Code Pro', monospace

/* NOTE: It's necessary to use e.g. the $fontNormal variable here. Defining
 * multiple fonts directly here yields a stylus compiler error.
 */
$fonts = {
  normal: $fontNormal,
  headings: $fontHeadings,
  code: $fontCode
}

$type-settings = {
	mobilePortrait: {
	  h1: { font-family: $fonts.headings, font-size:   2rem, line-height: 1.2em, margin-top:  0.1em, margin-bottom:   0.1em, font-weight: 400, text-transform: uppercase },
	  h2: { font-family: $fonts.headings, font-size: 1.4rem, line-height: 1.5em, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 400, text-transform: uppercase },
	  h3: { font-family: $fonts.headings, font-size: 1.4rem, line-height: 1.5em, margin-top:      0, margin-bottom: 0.625rem, font-weight: 400, text-transform: uppercase },
	  h4: { font-family: $fonts.headings, font-size:   1rem, line-height: 1.5em, margin-top:  0.7em, margin-bottom:   0.7em, font-weight: 400, text-transform: uppercase, border-bottom: 1px solid #424242, text-align: center }
	},
	mobileLandscape: {
	  h1: { font-family: $fonts.headings, font-size: 3.8rem, line-height: 1.2em, margin-top:  0.1em, margin-bottom:   0.1em, font-weight: 400, text-transform: uppercase },
	  h2: { font-family: $fonts.headings, font-size:   2rem, line-height: 1.5em, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 400, text-transform: uppercase },
	  h3: { font-family: $fonts.headings, font-size: 1.6rem, line-height: 1.5em, margin-top:      0, margin-bottom: 0.625em, font-weight: 400, text-transform: uppercase },
	  h4: { font-family: $fonts.headings, font-size:   1rem, line-height: 1.5em, margin-top:  0.7em, margin-bottom:   0.7em, font-weight: 400, text-transform: uppercase, border-bottom: 1px solid #424242 }
	  h5: { font-family: $fonts.headings, font-size: 0.9rem, line-height:     1, margin-top: 0.75em, margin-bottom:  0.75em, font-weight: 400, text-transform: uppercase },
	}
}

/*
 * Global setup (all breakpoints):
 */
body {
  color: $brandBlack; /* FIXXME: set via color system! */
  font-family: $fonts.normal;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/*
 * Individual breakpoint setup:
 */
setup-types($type-settings.mobilePortrait);

+above('mobile-landscape') {
 setup-types($type-settings.mobileLandscape)
}
