<div class="hero">
    <div class="hero__header">
        <h3 class="hero__header__content"><!-- yields header --></h3>
    </div>
    <div class="hero__container">
        <div class="hero__content"><!-- yields content --></div>
    </div>
</div>
